<!-- JavaScript Section -->
<nav class="navbar fixed-bottom navbar-light bg-light"> 
  <p>Portfolio ©Harvey Cabrias - 2019</p>
</nav>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>