<% include ./partials/header.ejs %>

    <div class="container">
      <div class="jumbotron">
        <% if (title == "Home") { %>
            <% include ./partials/contents/home.ejs %>
        <% } %>
        <% if (title == "About") { %>
         <% include ./partials/contents/about.ejs %>
        <% } %>
        <% if (title == "Projects") { %>
         <% include ./partials/contents/project.ejs %>
        <% } %>
        <% if (title == "Services") { %>
          <% include ./partials/contents/service.ejs %>
        <% } %>
        <% if (title == "Credential") { %>
          <% include ./partials/contents/credential.ejs %>
        <% } %>
        <% if (title == "Contact") { %>
         <% include ./partials/contents/contact.ejs %>
        <% } %>
      </div>
    </div>

<% include ./partials/footer.ejs %>
