<link href="CSS/style.css" rel="stylesheet" type="text/css">
<h1>About|Harvey Cabrias</h1>
<div class="alert alert-secondary" role="alert">
    <table>
        <tr>
            <td style="vertical-align: top; vertical-align: right;" ><img src="Assets/images/photo.jpg" class="img-center"></td>
            <td style="vertical-align: left;"><h4 >Harvey Owen Cabrias</h4>
                <h4 >Full Stack Programmer|Developer</h4>
                <p>Hi, my name is Harvey Cabrias, and I am an exceptional full-stack programmer and developer. I will be graduating from Centennial College with a software engineering technology diploma.</p>
                <p>I have variety of accomplishment as a student ranging from building a mobile application, system integration, web designing, API development and Full stack programming.</p>
                <p>One of my greatest project accomplishments was to develop a mobile application that helps the employee solve the connectivity issue from the store during the non-work hours. The capability of the mobile system allows the user to view the company's news, schedule, and payroll. The application was built in Java with SQLite.</p>
                <p>As a senior software engineering student, I have gained programming skills in C-Sharp, Java, PL/SQL, Python, and Typescript. I am also an excellent database developer in MySQL, SQLite, and Oracle. Furthermore, I am a web designer and developer in HTML, XML, CSS, JSON, and Node.JS.
                <p>My goal is to get into a technology company that hiring this year that requires my skill set and make an impact in the industry while growing my own career.</p>
                <p>Feel free to look at my <a href="Assets/files/Harvey_Owen_Cabrias.pdf">resume</a> for more information</p></td>
        </tr>
    </table>
<br/>
</div>
