<h1>Credential|Harvey Cabrias</h1>
<h2>My Academic Credential</h2>
<h5>Senator O'Connor College School</h5>
<p>High School Diploma <br/>
    Totonto, ON</p>

<br/>
<h5>Centennial College</h5>
<p>Software Engineering Technology<br/>
    Advance Diploma - Expected Graduation(April 2019)<br/>
    Toronto, ON</p>
